*,*::before,*::after { box-sizing: border-box;}

/********************************************************    WEATHER APP     ******************************************************************/
#wapp__main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-top: 5em;
    height: 24em;
}

#wapp__body {
    font-family: var(--ff-primary);
}
#wapp__title {
    font-size: 1.5em;
    text-align: center;
}
/***** container / general settings *****/

.wapp__container {
    
    text-align:center;
    background-color: rgb(111, 179, 184);
    background-color: rgba(111, 179, 184, 0.3);
    border-radius: 10px;
    padding: 0.2em 1em;
    width: 20em;
    max-width: 30em;
    margin: 0 auto;
}
.weather__app {
    border-radius: 10px;
    margin: 0 1em;
    max-width: 30em;
    height: 19em;
}

    /***** search bar *****/

.wapp__search {
    padding: 0 0 1.5em;
}

.wapp__search--bar {
    margin: 0 0 0.5em 0;
    width: 12em;
    padding: 0.2em 0.5em;
    line-height: 1.5em;
    border-radius: 16px;
    outline: none;
    border: none;
    
}
.wapp__search--btn {
    cursor: pointer;
    padding: 0.2em 0.5em;
    line-height: 1.5em;
    border: none;
    outline: none;
    border-radius: 50%;
}
    /***** City *****/

.wapp__city {
    font-weight: var(--fw-stronger);
}
    /***** Temperature *****/

.wapp__temperature {
    font-size: 1.8em;
    
    }
    
.wapp__icon {
    height: 4em;
    width: 4em;
}
.wapp__box {
    display: flex;
    align-items: center;
}
.wapp__tempmidity {
    text-align: left;
    font-size: 1.1em;
}

.wapp__container.loading {
    visibility: hidden;
}

    /***** Humidity *****/


    /***** Wind *****/

@media (min-width: 600px) {

     /********************************************* WEATHER APP ********************************************************/



     .wapp__container {
        align-items: center;
        width: 95%;
    }

.wapp__search--bar {
    width: 15em;
    margin: 0 1em;
    margin-bottom: 0.5em;
}
.weather__app {
    border-radius: 10px;
    padding-top: 1em;
    margin: 0 1em;
    height: 3em;
}
}
